
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه اینترنتی کالا مارکت</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="{% static  'css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/materialdesignicons.css' %}">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jquery.jqZoom.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/sweetalert2.min.css' %}">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>

</body>
</html>